:root {
    --bg-color: hsl(235, 9%, 23%);
    --secondary-color: hsl(233, 15%, 12%);
    --hover-color: hsl(220, 20%, 9%);
    --title-color: #eeeeee;
    --text-color: #8caab7;
    --accent-color: hsl(213, 64%, 47%);
    --accent-color-hover: hsl(213, 64%, 37%);
    /* --accent-color-2: hsl(0, 100%, 65%); */
    --accent-color-2: hsl(355, 68%, 57%);
    --accent-color-2-hover: hsl(355, 100%, 67%);
    /* --accent-color-2-hover: hsl(0, 100%, 55%); */
    --white: hsl(0, 0%, 95%);

    /* Context menu colours */
    --contextmenu-text-color: hsl(0, 0%, 20%);
    --contextmenu-bg-color: hsl(0, 0%, 95%);
    --contextmenu-hover-color: hsl(0, 0%, 85%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    height: 100vh;
    /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
}

/* utility */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.gap-1 {
    gap: 1rem;
}
