body {
  display: flex;
  /* justify-content: center; */
  background-color: var(--platinum);
}

.MainContainer {
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);
}

.mainTitle {
  text-align: center;
}

nav {
  width: 20vw;
  min-width: 12rem;
  /* height: 100vh; */
  display: flex;
  align-items: center;
}
.navContainer {
  padding: 2rem 1rem;
  height: 60%;
  width: 100%;
  text-align: center;
  /* background-color: aqua; */
}

.resize {
  resize: horizontal;
  overflow: auto;
}
#navHide {
  position: absolute;
  top: 5px;
  left: 5px;
  border: none;
  cursor: pointer;
}

.navButton {
  width: 8rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: white;
  border: solid 2px var(--orange-web);
  margin: 1rem;
  font-weight: bold;
  cursor: pointer;
}
label {
  width: 6rem;
  height: 1rem;
  border-radius: 2rem;
  background-color: white;
  border: solid 2px var(--orange-web);
  margin: 1rem;
  padding: 0.8rem;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 1rem 2rem;
}

.fileStyle {
  border: solid 2px var(--oxford-blue);
  background-color: white;
  /* background: linear-gradient(to left, white 50%, var(--oxford-blue) 50%) right; */
  /* background-size: 200%; */
  /* transition: 0.5s ease-out; */
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.fileStyle:hover {
  /* background-position: left; */
  font-weight: bold;
  padding: 1rem;
}
.folderStyle {
  border: solid 2px var(--oxford-blue);
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.folderStyle:hover {
  /* background-position: left; */
  font-weight: bold;
  padding: 1rem;
}

h3 {
  padding: 0.5rem 2rem;
  margin-top: 1rem;
}

#folderNav {
  margin-left: 2rem;
}
