* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}
/* COlours */
:root {
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
}
