production: false

basefolder:

secretkey: th!s!s@very$ecret#ey

accounts:
    admin:
        password: secretadmin

    guest:
        password: helloworld
        permissions:
            createFolder: true
            upload: false
            download: true
            delete: false
            navigate: true
        hide:
            # relative path from base folder
            - private
            - private2
            - new folder
            - documents/test

    guest2:
        password: helloworld2
        permissions:
            createFolder: true
            upload: true
            download: true
            delete: false
            # ===========================================================================
            # navigate: needs to be explicitly set to false to hide all files and folders
            # CAUTION:
            #       this will only hide items for navigation -
            #       knowing the full path of an item will still allow access to it
            # ===========================================================================
            navigate: true
        show:
            # overrides hide and only shows the provided folder in the root directory
            - onlythis

    account2:
        password: helloworld2
        permissions:
        hide:
            - private
