<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/frontendjs/dist/dropzone.css" />

    <title>Local Cloud</title>
  </head>
  <body>
    <button id="navHide">
      <svg viewBox="0 0 100 80" width="40" height="40">
        <rect width="100" height="20"></rect>
        <rect y="30" width="100" height="20"></rect>
        <rect y="60" width="100" height="20"></rect>
      </svg>
    </button>
    <nav class="resize">
      <div class="navContainer">
        <button class="navButton" id="newFolder">New Folder</button>
        <!-- <input type="file" name="files" id="upload-files" onclick="fileCount()" hidden multiple /> -->
        <button class="navButton" id="uploading">Upload</button>
        <!-- <label for="upload-files"> Upload </label> -->
        <span id="numFiles"></span>
      </div>
    </nav>
    <div class="MainContainer">
      <h1 class="mainTitle">Your Home Cloud</h1>
      <h5 id="folderNav">Uploads ></h5>
      <h3>Files</h3>
      <section class="filesSection">
        <!-- <div class="fileStyle">File 1</div>
        <div class="fileStyle">File 2</div>
        <div class="fileStyle">File 3</div> -->
      </section>
      <h3>Folders</h3>

      <section class="folderSection"></section>
    </div>
    <!-- Modal Drag Drop -->
    <div class="hidethis" id="uploadModal">
      <div class="modal">
        <span id="closeModalButton">X</span>
        <form
          action="/file-upload"
          enctype="multipart/form-data"
          class="dropzone"
          id="dropzone"
          name="dropzone"
          method="POST"
        >
          <input type="hidden" name="path" id="thisWillContainPath" />
        </form>
        <button id="uploadButton"><a href="/">Finish Upload</a></button>
      </div>
    </div>
    <script>
      class NavigateDir {
        constructor(arr) {
          this.arrDir = arr;
          this.dir = "";
          this.navDir = "uploads > ";
        }
        async addNavDir(folder) {
          this.arrDir.push(folder.trim());
        }
        returnPath() {
          this.dir = this.arrDir.join("/");
          return this.dir.trim();
        }
        returnNavPath() {
          // return "uploads > " + this.arrDir.join(" > ");
          this.navDir += `<span class='joiner' onclick='backnav(this)'> ${
            this.arrDir[this.arrDir.length - 1]
          } > </span>`;
          return this.navDir;
        }
        resetPathNames() {
          this.navDir = "uploads > ";
          for (let i = 0; i < this.arrDir.length; i++) {
            this.navDir += `<span class='joiner' onclick='backnav(this)'> ${this.arrDir[i]} > </span>`;
          }
          return this.navDir;
        }
        popper(ind) {
          // This will remove everything after the index provided
          this.arrDir = this.arrDir.slice(0, ind + 1);
          this.resetPathNames();
          document.getElementById("folderNav").innerHTML = this.resetPathNames();
          return this.returnPath();
        }
      }
    </script>
    <script>
      let globalPathArr = [];
      let foldClickState = false;
      let foldernav = document.getElementById("folderNav");
      let NavOfDir = new NavigateDir(globalPathArr);
      function createDivForFiles(arrFiles, parentElement) {
        arrFiles.forEach((elem, index) => {
          let createDiv = document.createElement("div");
          createDiv.innerText = elem;
          createDiv.setAttribute("name", elem);
          createDiv.classList.add("fileStyle");
          parentElement.appendChild(createDiv);
          createDiv.onclick = () => {
            window.open(`/download/${NavOfDir.returnPath()}/${elem}`);
          };
        });
      }
      function backnav(el) {
        // console.log(el.target);
        let indexOfBackNav = [...document.querySelectorAll(`.${el.className}`)].indexOf(el);
        let fetchpath = {
          thispath: NavOfDir.popper(indexOfBackNav),
        };
        fetcher(fetchpath, "navigateDirectories");
      }
      function fetcher(thisPath, urlPath) {
        fetch(`/${urlPath}`, {
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          method: "POST",
          body: JSON.stringify(thisPath),
        })
          .then((response) => {
            return response.json();
          })
          .then((result) => {
            console.log("Success:", result);
            navigation(result);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
      function createDivForFolders(arrFolders, parentElement) {
        arrFolders.forEach((elem, index) => {
          let createDiv = document.createElement("div");
          createDiv.innerText = elem;
          createDiv.setAttribute("name", elem);
          createDiv.classList.add("folderStyle");
          parentElement.appendChild(createDiv);
          createDiv.onclick = () => {
            NavOfDir.addNavDir(elem).then(() => {
              foldernav.innerHTML = NavOfDir.returnNavPath();
              let thisPath = {
                thispath: NavOfDir.returnPath(),
              };
              console.log(thisPath);
              // FETCH ================
              fetcher(thisPath, "navigateDirectories");
            });
          };
        });
      }
      function fileCount() {
        let uploader = document.getElementById("upload-files");
        let dispNumFiles = document.getElementById("numFiles");
        if (uploader.files.length >= 1) {
          dispNumFiles.innerText = `Number of files: ${uploader.files.length}`;
        }
      }
      function navigation(data) {
        let filesSection = document.getElementsByTagName("section")[0];
        let folderSection = document.getElementsByTagName("section")[1];
        filesSection.innerHTML = "";
        folderSection.innerHTML = "";
        createDivForFiles(data.sendFiles, filesSection);
        createDivForFolders(data.sendFolders, folderSection);
      }
    </script>
    <!-- New Folder and Hide nav -->
    <script>
      document.getElementById("newFolder").onclick = () => {
        let addFolderForm = document.createElement("form");
        addFolderForm.setAttribute("action", "/newFolder");
        addFolderForm.setAttribute("method", "POST");
        let textInp = document.createElement("input");
        textInp.setAttribute("type", "text");
        textInp.setAttribute("name", "FolderName");
        addFolderForm.appendChild(textInp);
        let subFolderBut = document.createElement("input");
        subFolderBut.setAttribute("type", "submit");
        addFolderForm.appendChild(subFolderBut);
        let hiddenPath = document.createElement("input");
        hiddenPath.setAttribute("type", "hidden");
        hiddenPath.setAttribute("name", "thispath");
        hiddenPath.setAttribute("value", NavOfDir.returnPath());
        addFolderForm.appendChild(hiddenPath);
        let addFolderNavButton = document.getElementById("newFolder");

        addFolderNavButton.insertAdjacentElement("afterend", addFolderForm);
      };
      document.getElementById("navHide").onclick = () => {
        let navbar = document.getElementsByTagName("nav")[0];
        let mainContainer = Array.from(document.getElementsByClassName("MainContainer"))[0];
        if (navbar.style.display != "none") {
          navbar.style.display = "none";
          mainContainer.style.marginLeft = "3rem";
        } else {
          navbar.style.display = "flex";
          mainContainer.style.marginLeft = "0rem";
        }
      };
    </script>
    <!-- For Uploading -->
    <script>
      let uploadBut = document.getElementById("uploading");
      let modalDiv = document.getElementById("uploadModal");
      let closeBut = document.getElementById("closeModalButton");
      let thisWillSendPath = document.getElementById("thisWillContainPath");
      uploadBut.onclick = () => {
        console.log("modal click");
        modalDiv.style.display = "block";
        thisWillSendPath.value = `${NavOfDir.returnPath()}`;
      };
      closeBut.onclick = () => {
        modalDiv.style.display = "none";
      };
    </script>
    <script>
      let files = `<%- sendFiles%>`;
      let folders = `<%- sendFolders%> `;
      let filesSection = document.getElementsByTagName("section")[0];
      let folderSection = document.getElementsByTagName("section")[1];
      createDivForFiles(files.split(","), filesSection);
      createDivForFolders(folders.split(","), folderSection);
    </script>

    <!-- DRAG DROP JS STUFF -->
    <script src="/frontendjs/dist/dropzone.js"></script>
  </body>
</html>
