<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Local Cloud</title>
  </head>
  <body>
    <button id="navHide">
      <svg viewBox="0 0 100 80" width="40" height="40">
        <rect width="100" height="20"></rect>
        <rect y="30" width="100" height="20"></rect>
        <rect y="60" width="100" height="20"></rect>
      </svg>
    </button>
    <nav class="resize">
      <div class="navContainer">
        <button class="navButton" id="newFolder">New Folder</button>
        <input type="file" name="files" id="upload-files" onclick="fileCount()" hidden multiple />
        <label for="upload-files"> Upload </label>
        <span id="numFiles"></span>
      </div>
    </nav>
    <div class="MainContainer">
      <h1 class="mainTitle">Your Home Cloud</h1>
      <h5 id="folderNav">Uploads ></h5>
      <h3>Files</h3>
      <section class="filesSection">
        <!-- <div class="fileStyle">File 1</div>
        <div class="fileStyle">File 2</div>
        <div class="fileStyle">File 3</div> -->
      </section>
      <h3>Folders</h3>

      <section class="folderSection"></section>
    </div>
    <script>
      class sepFilesAndFolders {
        constructor(data) {
          this.data = data.split(",");
          this.files = [];
          this.folders = [];
          this.validExtensions = [
            "pdf",
            "xlsx", "docx","pptx", "txt",
            "jpeg",  "jpg", "png",
            "py", "js", "html", "json", "css", "gitignore", "md", "lock", "m",
            "mp3", "mp4"
        ]; //prettier-ignore
        }
        getFiles() {
          let promiseFiles = [];
          this.data.forEach((elem, index) => {
            let lastItem = elem.split(".")[elem.split(".").length - 1];
            if (this.validExtensions.includes(lastItem)) {
              // console.log(elem);
              promiseFiles.push(elem);
            } else {
            }
          });
          return Promise.all(promiseFiles);
        }
        getFolders() {
          let promiseFolders = [];
          this.data.forEach((elem, index) => {
            let lastItem = elem.split(".")[elem.split(".").length - 1];
            if (this.validExtensions.includes(lastItem)) {
            } else if (lastItem == elem) {
              promiseFolders.push(elem);
            } else {
            }
          });
          return Promise.all(promiseFolders);
        }
      }
      class NavigateDir {
        constructor() {
          this.arrDir = [];
          this.dir = "";
        }
        async addNavDir(folder) {
          this.arrDir.push(folder);
        }
        returnPath() {
          this.dir = this.arrDir.join("/");
          return this.dir;
        }
      }
    </script>
    <script>
      let NavOfDir = new NavigateDir();
      function createDivForFiles(arrFiles, parentElement) {
        arrFiles.forEach((elem, index) => {
          let createDiv = document.createElement("div");
          createDiv.innerText = elem;
          createDiv.setAttribute("name", elem);
          createDiv.classList.add("fileStyle");
          parentElement.appendChild(createDiv);
          createDiv.onclick = () => {
            window.open(`/download/${elem}`);
          };
        });
      }
      function createDivForFolders(arrFolders, parentElement) {
        arrFolders.forEach((elem, index) => {
          let createDiv = document.createElement("div");
          createDiv.innerText = elem;
          createDiv.setAttribute("name", elem);
          createDiv.classList.add("folderStyle");
          parentElement.appendChild(createDiv);
          createDiv.onclick = () => {
            NavOfDir.addNavDir(elem).then(() => {
              let path = NavOfDir.returnPath();
              console.log(path);
              let thisPath = {
                thispath: path,
              };
              fetch("/navigateDirectories", {
                headers: {
                  "Content-Type": "application/json",
                },
                method: "POST",
                body: thisPath,
              })
                .then((result) => {
                  console.log("Success:", result);
                })
                .catch((error) => {
                  console.error("Error:", error);
                });
            });
          };
        });
      }
      function fileCount() {
        let uploader = document.getElementById("upload-files");
        let dispNumFiles = document.getElementById("numFiles");
        if (uploader.files.length >= 1) {
          dispNumFiles.innerText = `Number of files: ${uploader.files.length}`;
        }
      }
    </script>
    <script>
      document.getElementById("newFolder").onclick = () => {
        let addFolderForm = document.createElement("form");
        addFolderForm.setAttribute("action", "/newFolder");
        addFolderForm.setAttribute("method", "POST");
        let textInp = document.createElement("input");
        textInp.setAttribute("type", "text");
        textInp.setAttribute("name", "FolderName");
        addFolderForm.appendChild(textInp);
        let subFolderBut = document.createElement("input");
        subFolderBut.setAttribute("type", "submit");
        addFolderForm.appendChild(subFolderBut);
        let addFolderNavButton = document.getElementById("newFolder");

        addFolderNavButton.insertAdjacentElement("afterend", addFolderForm);
      };
      document.getElementById("navHide").onclick = () => {
        let navbar = document.getElementsByTagName("nav")[0];
        let mainContainer = Array.from(document.getElementsByClassName("MainContainer"))[0];
        if (navbar.style.display != "none") {
          navbar.style.display = "none";
          mainContainer.style.marginLeft = "3rem";
        } else {
          navbar.style.display = "flex";
          mainContainer.style.marginLeft = "0rem";
        }
      };
    </script>
    <script>
      let files = `<%- sendFiles%>`;
      let folders = `<%- sendFolders%> `;
      let filesSection = document.getElementsByTagName("section")[0];
      let folderSection = document.getElementsByTagName("section")[1];
      createDivForFiles(files.split(","), filesSection);
      createDivForFolders(folders.split(","), folderSection);
    </script>
  </body>
</html>
