<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Local Cloud</title>
  </head>
  <body>
    <nav>
      <div class="navContainer">
        <button class="navButton">New Folder</button>
        <input type="file" name="files" id="upload-files" onclick="fileCount()" hidden multiple />
        <label for="upload-files"> Upload </label>
        <span id="numFiles"></span>
      </div>
    </nav>
    <div class="MainContainer">
      <h1 class="mainTitle">Your Home Cloud</h1>
      <button id="down">DOWNLOAD</button>
      <span id="check"> <%= files %> </span>
    </div>
    <script>
      document.getElementById("down").onclick = () => {
        window.open("/download/svg cheat sheet.pdf");
        // fetch("/download/svg cheat sheet.pdf", {
        //   method: "GET", // or 'PUT'
        //   headers: {
        //     "Content-Type": "application/json",
        //     Accept: "application/json",
        //   },
        // }).catch((error) => {
        //   console.error("Error:", error);
        // });
      };
      function fileCount() {
        let uploader = document.getElementById("upload-files");
        let dispNumFiles = document.getElementById("numFiles");
        if (uploader.files.length >= 1) {
          dispNumFiles.innerText = `Number of files: ${uploader.files.length}`;
        }
      }
    </script>
    <script>
      let files = `<%- files%>`;
      console.log(files);
    </script>
  </body>
</html>
